<% @current_participation = Participation.new if @current_participation == nil %>
<div class="col-sm-6">
<%= form_for(@current_participation) do |f| %>
  <%= f.label :number_of_unit %>
  <%= f.text_field :number_of_unit %>

  <%= f.label :participater_name %>
  <%= f.text_field :participater_name %>
  
  <%= f.hidden_field :plan_id, :value => @plan.id %>

  <%= f.submit "参加する", class: "btn btn-primary" %>
  <%= f.submit "参加しない", class: "btn btn-primary" %>
<% end %>
</div>
